{% extends 'base.html.twig' %}

{% block titre %}Editer
	{{app.user}}
{% endblock %}

{% block navbar %}{% endblock %}

{% block contenu %}

	<div style="text-align:center; margin-top:15px;">
		<h2>Editer le Profile</h2>
	</div>
	<div class="" style="padding-top:1px;margin-left:11%;margin-right:11%;padding:5%;box-shadow: 6px 5px 11px black;border-radius: 23px;background-color: white;">
		{{form(form)}}
		</div>
	{% endblock %}
