{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}
{% block contenu %}
	<div style="text-align:center; margin-top:15px;">
		<h2>Editer le Password</h2>
	</div>

	<div class="" style="padding-top:1px;margin-left:11%;margin-right:11%;padding:5%;box-shadow: 6px 5px 11px black;border-radius: 23px;background-color: white;">
		{% if note %}
			<div class="alert alert-danger d-flex align-items-center" role="alert">
				<i class="fa fa-triangle-exclamation"></i>
				{{ note }}
			</div>
		{% endif %}
		{{ form(form)}}
		</div>
	{% endblock %}
