{% extends 'base.html.twig' %}

{% block titre %}Hello InscriptionController!
{% endblock %}

{% block contenu %}
	<h2 style="margin-left:5%">Inscription</h2>
	<div style="margin:5%">

		{{form(form)}}
		</div>
	{% endblock %}
